In [12]:
filename = "euler22.txt"
a = []
with open(filename,'r') as file1 :
    for line in file1 :
        a.append(line)
s = a[0]
a = s.split(',')

'"'

In [13]:
a[0]

'"MARY"'

In [55]:
#To remove double quotes
b = []
for i in a :
    x = i.strip('"')
    b.append(x)
b[0]

'AARON'

In [15]:
a = b

In [17]:
a.sort()

In [18]:
a[0:10]

['AARON',
 'ABBEY',
 'ABBIE',
 'ABBY',
 'ABDUL',
 'ABE',
 'ABEL',
 'ABIGAIL',
 'ABRAHAM',
 'ABRAM']

In [48]:
dict1 = {'A' : 1,'B' : 2,'C' : 3,'D' : 4,'E' : 5,'F' : 6,'G' : 7,'H' : 8,'I' : 9,'J' : 10,'K' : 11,'L' : 12,'M' : 13,'N' : 14,'O' : 15,'P' : 16,'Q' : 17,'R' : 18,'S' : 19,'T' : 20,'U' : 21,'V' : 22,'W' : 23,'X' : 24,'Y' : 25,'Z' : 26}

In [49]:
dict1

{'A': 1,
 'B': 2,
 'C': 3,
 'D': 4,
 'E': 5,
 'F': 6,
 'G': 7,
 'H': 8,
 'I': 9,
 'J': 10,
 'K': 11,
 'L': 12,
 'M': 13,
 'N': 14,
 'O': 15,
 'P': 16,
 'Q': 17,
 'R': 18,
 'S': 19,
 'T': 20,
 'U': 21,
 'V': 22,
 'W': 23,
 'X': 24,
 'Y': 25,
 'Z': 26}

In [54]:
i=1
s = 0
for string in a :
    temp = 0
    for x in string :
        temp += dict1[x]
    s += temp*i
    i += 1
print(s)

871198282